.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .btn:hover {
    transition: background-color 0.2s ease-in;
  }
  .btn.default {
    background-color: $headline-color;
  }
  .btn.default:hover {
    background-color: #9cecfd;
  }
  .btn.error {
    background-color: $error-btn;
  }
  .btn.error:hover {
    background-color: #f1b5b8;
  }
  .btn.info {
    background-color: $info-btn;
  }
  .btn.info:hover {
    background-color: #bdafd9;
  }
  .btn.success {
    background-color: #63cc82;
  }
  .btn.success:hover {
    background-color: #9ddfb0;
  }
  .btn.warning {
    background-color: #fd7856;
  }
  .btn.warning:hover {
    background-color: #feb4a2;
  }